@model SuperShop.Web.ViewModels.ProductViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ImageFile" class="control-label"></label>
    <input type="file" asp-for="ImageFile"
        id="input-file-image" class="form-control" onchange="showPreview(event);" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>
<script>
    const showPreview = event => {
        const divImageFile = document.getElementById("input-file-image");
        const divId = "div-img-preview";
        const divImagePreview = document.getElementById(divId) ??
            createElmAfter("div", divId, divImageFile.parentElement);

        divImagePreview.style.padding = "0px 12px 16px";
        
        const imgPreviewId = "img-preview";
        const imgPreview = document.getElementById(imgPreviewId) ??
            createElmAfter("img", imgPreviewId, divImagePreview);
        
        divImagePreview.append(imgPreview);
        
        imgPreview.style.maxWidth = "128px";
        imgPreview.style.maxHeight = "128px";
            
        const imageFile = event.target.files[0];
        imgPreview.src = URL.createObjectURL(imageFile);

        return;

        function createElmAfter(elmType, elmId, priorElm) {
            const elm = document.createElement(elmType);
            elm.id = elmId;
            priorElm.after(elm);
            return elm;
        }
    }
</script>
<div class="form-group">
    <label asp-for="LastPurchase" class="control-label"></label>
    <input asp-for="LastPurchase" class="form-control" />
    <span asp-validation-for="LastPurchase" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastSale" class="control-label"></label>
    <input asp-for="LastSale" class="form-control" />
    <span asp-validation-for="LastSale" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
    </label>
</div>
<div class="form-group">
    <label asp-for="Stock" class="control-label"></label>
    <input asp-for="Stock" class="form-control" />
    <span asp-validation-for="Stock" class="text-danger"></span>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_ValidationCurrencyPartial");
    }
}