
@{
    ViewData["Title"] = "404 - not found";
}

<div id="404-by-juliepark">
    <div id="background-error-404"></div>
    <div class="top-error-404">
        <h1 class="h1-error-404">404</h1>
        <h3 class="h3-error-404">page not found</h3>
    </div>
    <div class="container-error-404">
        <div class="ghost-copy-error-404">
            <div class="one-error-404"></div>
            <div class="two-error-404"></div>
            <div class="three-error-404"></div>
            <div class="four-error-404"></div>
        </div>
        <div class="ghost-error-404">
            <div class="face-error-404">
                <div class="eye-error-404"></div>
                <div class="eye-right-error-404"></div>
                <div class="mouth-error-404"></div>
            </div>
        </div>
        <div class="shadow-error-404"></div>
    </div>
    <div class="bottom-error-404">
        <p class="p-error-404">Boo, looks like a ghost stole this page!</p>

        <div class="buttons-error-404">
            <a onclick="window.history.go(-1);" class="btn btn-error-404">Back</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-error-404">Home</a>
        </div>
    </div>

    <div class="footer-error-404">
        <p class="p-error-404">made by <a href="https://codepen.io/juliepark"> julie</a> ♡
    </div>
</div>